body {
    background-color: #fff5f5;
}

h3, h1 {
    text-align: center;
}


#cabecalho {
    margin: -8px;
    height: 100px;
    border: 2px solid #401f1f;
}

th {
    padding: 15px;
}

.input-div {
    margin: 5px;
    float: right;
    height: 100px;
}

input[type=submit] {
    background-color: #401f1f;
    padding: 10px 20px;
    height: 50px;
    font: bold 15px sans-serif;
    color: white;
    box-shadow: 2px 2px 5px #000000;
    cursor: pointer;
    border: 0px;
}


input[type=submit]:hover {
    box-shadow: 1px 1px 5px #000000;
}

#botoes {
    margin: 10px;
}

#botao {
    float: right;
    margin: 10px;
}

#logo {
    float: left;
    margin-left: 80px;
    margin-top: 25px;
    width: 180px;
    height: 60px;
    color: #401f1f;
}

a:link, a:visited {
    color: white;
    font: bold 15px sans-serif;
    text-decoration: none;
}
h2 {
    color: #401f1f;
}
button {
    background-color: #401f1f;
    padding: 10px 20px;
    height: 50px;
    font: bold 15px sans-serif;
    color: white;
    box-shadow: 2px 2px 5px #000000;
    cursor: pointer;
    border: 0px;
    
}
#corpo {
    border: 2px solid #401f1f;
    margin: -8px;
    margin-top: 10px;
    /*height: 700px;*/
}

#corpo > * {
    margin: auto;
}

#imagem {
    border: 2px solid #401f1f;
    margin: 1%;
}

#dados {
    border: 2px solid #401f1f;
    margin-top: 15px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 15px;
    height: 500px;
}

#localizacao {
    border: 2px solid #401f1f;
    float: left;
    margin: 20px;
}

#horario {
    border: 2px solid #401f1f;
    float: left;
    margin: 20px;
    text-align: center;
    padding: 70px;
}

/* alterei a partir daqui */

form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

label {
    font-size: 18px;
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    background-color: #401f1f;
    border: none;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px #000000;
    cursor: pointer;
    display: block;
    width: 100%;
}

input[type="submit"]:hover {
    box-shadow: 1px 1px 5px #000000;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: center;
}